/*!**/
* {
  font-family: 'Roboto';
  font-size: 17px;
  box-sizing: border-box;
}
.App {
  padding: 20px;
  background: #E5E5E5;
  height: 100vh;
}
.main {
  display: flex;
  justify-content: space-around;
}

.search {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

